body {
  padding-top: 20px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
.full-section.theme-gray {
  background: #F7F7F7;
}
.dropdown-menu {
  border-radius: 0;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 3px solid #eee;
}
.footer h4 {
  text-transform: uppercase;
  font-size: 1em;
}
.footer .footer-menu {
  font-size: 0.8em;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.navbar {
  border: 0;
}
.btn {
  border-radius: 0;
}
.featurette {
  margin-top: 30px;
  margin-bottom: 30px;
}
.featurette .featurette-heading {
  font-weight: normal;
}
@media (min-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-nav .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
