/* main */
body, html {
  font-size: 14px;
  color: @main-color;
  font-family: @main-font-family;
  background: @main-background;
}

#main_toolbar {
  background: @main-toolbar-background;
  color: @main-toolbar-color;
  .border-radius(0);
  border: none;
  margin: 0;

  .fa-2x {
    font-size: 1.5em;
  }

  .navbar-brand {
    padding: 15px;
    height: auto;
    color: @main-toolbar-color;
    h1 {
      font-size: 1.4rem;
      margin: 0;
      line-height: 1em;
      small {
        font-size: 0.7rem;
        color: @main-toolbar-color;
        display: block;
        margin-top: 2px;
      }
      img {
        margin-right: 6px;
      }
    }
  }

  .navbar-nav {
    &> li > a {
      color: @main-toolbar-color;
      padding: 8px;
      border: 1px solid transparent;
    }
    &> li > .dropdown-menu {
      .border-radius(0);
    }

    &> .open > a,
    &> .active > a {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 980;
      border: 1px solid rgba(0, 0, 0, .15);
      background: none;
    }
  }

  .dropdown-menu {
    margin-top: -2px;

    .divider {
      margin: 5px 0;
    }

    &> li > a {
      padding: 10px 20px;
      white-space: normal;
    }
  }

  .nav > li > a:focus,
  .nav > li > a:hover {
    color: @menu-hover-background;
  }

  .navbar-collapse {
    padding-top: 1rem;
  }

  .media {
    margin: 0;
  }
}

#main_menu {
  z-index: 20;
  margin-bottom: 0;
  min-height: 40px;
  .border-radius(0);
  border: none;
  background: @menu-background;
  color: @menu-color;
  .box-shadow(0 6px 6px -3px rgba(0, 0, 0, 0.3));

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: @menu-color;
  }

  .navbar-nav > li.open > a {
    background: @menu-hover-background;
    color: @menu-hover-color;
  }

  .caret {
    float: right;
    margin-top: 4px;
  }
}

#container {
  padding-top: 15px;
}

#search_form {
  margin: 0;

  .form-control {
    border: @dashboard-panel-border;
    .box-shadow(none);
  }

  .btn-default {
    border: @dashboard-panel-border;
    background: @dashboard-panel-header-background;
  }

  .tokens-container {
    width: 200px;
  }
}

.page-editor {
  //display: flex;
}

#sidebar_toolbar {
  padding: 10px 0;
  border-bottom: 1px solid #dcdcdc;

  .btn-backend {
    padding: 4px 26px 4px 6px;
  }
}

.simple-margins {
  &.bottom {
    margin-bottom: 5px;
  }
}

#sidebar_tree {
  background: @sidebar-background;
  border-right: 1px solid #dcdcdc;

  .tree {
    border: none;
    padding: 0;
  }

  #toggle_touch {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

#cms_tree {
  overflow-y: auto;
  padding: 10px 0;
}

.touch-friendly {
  margin-right: 50px;
}

#sidebar .list-group {
  font-size: 1.2em;
}

.tree-filter {
  padding-top: 10px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  background: @main-background;
}

.entire-area {
  width: 100%;
}

#content_wrapper {
  #toggle_sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  #content {
    padding-top: 15px;
  }
}

li a.helper-icon {
  float: left;
}

.page-panel {
  margin-top: 10px;
  background: @theme-warning;
  border: 1px solid #deeaa8;
  &> .panel-heading {
    background: #deeaa8;
  }
}

.scroll-overlap {
  height: 50px;
  position: fixed;
  left: 0;
  width: 100%;
  background: rgba(200, 200, 200, 0.6);
  display: none;
  z-index: 9000;
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}

.panel-media {
  margin-top: 20px;

  .list-group {
    .border-radius(0);
    .list-group-item {
      .border-radius(0);
    }
  }

  h2.title {
    margin: 0 20px 0 0;
  }

  .thumbnail {
    text-align: center;
    position: relative;
    background: #f5f5f5;
    .border-radius(0);
    padding: 9px;
    min-height: 150px;
    overflow: hidden;
    border: 0;
    box-shadow: none;

    &.filetype-JPG,
    &.filetype-GIF,
    &.filetype-PNG {
      padding: 0;
    }
    &.active {
      .caption {
        background: fade(@theme-success, 80%);
      }
      .extension {
        background: fade(@theme-success, 50%);
      }
    }

    > img,
    a > img {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      margin: auto;
    }

    .caption {
      padding: 2%;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      overflow: hidden;
      background: fade(#111, 80%);
      color: white;
    }

    p {
      margin: 0;
    }

    .extension {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: fade(#111, 50%);
      padding: 5px;
      color: white;
      z-index: 2;
    }
  }
}

.stick-to-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

.folders-list {
  margin-top: 10px;

  .list-group-item {
    .border-radius(0);
  }
}

.content-type-reference {
  opacity: 0.9;
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
  padding: 5px 10px;
}

.reference-title {
  padding: 0 3px;
  color: white;
  background: black;
}

.login-columns {
  padding: 10px;
  box-shadow: 0 0 10px black;
  background: white;
}

.login-page {
  background: @main-toolbar-background;
}

.content-type-repeater {
  .panel-heading {
    .sort-handler {
      cursor: move;
    }
  }
  h4.panel-title {
    padding: 5px 0;
  }

  .panel-default.sortable-ghost {
    opacity: 0.8;
  }

  .panel-default.sortable-chosen .panel-heading {
    background-color: @menu-background;
    color: @menu-color;
  }
}

/* create new element wizard */
.tab-elements {
  .media-object {
    float: left;
    margin-right: 10px;
    border: 1px solid #111111;
  }

  a {
    color: inherit;
    overflow: hidden;
  }

  p {
    font-size: 12px;
    line-height: 1.2em;
    margin-bottom: 5px;
  }

  p.title {
    font-weight: bold;
    font-size: 14px;
  }
}

/* overwrite general styles */
.btn-default {
  color: @color-theme-default;
  //background-color: @theme-default;
  .gradient(lighten(@theme-default, 5%), darken(@theme-default, 10%));
  border-color: darken(@theme-default, 20%);
  &:hover {
    background: @theme-default;
    border-color: darken(@theme-default, 30%);
  }
  &:active {
    border-color: darken(@theme-default, 30%);
    .open > .dropdown-toggle.btn-default {
      border-color: darken(@theme-default, 30%);
    }
  }
}

.btn-danger {
  color: @color-theme-danger;
  border-color: darken(@theme-danger, 20%);
  .gradient(lighten(@theme-danger, 5%), darken(@theme-danger, 10%));
  &:hover {
    background: @theme-danger;
  }
}

.btn-success {
  color: @color-theme-success;
  border-color: darken(@theme-success, 20%);
  .gradient(lighten(@theme-success, 5%), darken(@theme-success, 10%));
  &:hover {
    background: @theme-success;
  }
}

.btn-primary {
  color: @color-theme-primary;
  border-color: darken(@theme-primary, 10%);
  .gradient(lighten(@theme-primary, 5%), darken(@theme-primary, 10%));
  &:hover {
    background: @theme-primary;
  }
}

.btn-warning {
  color: @color-theme-warning;
  //text-shadow: none;
  border-color: darken(@theme-warning, 20%);
  .gradient(lighten(@theme-warning, 5%), darken(@theme-warning, 10%));
  &:active,
  &:focus,
  &:hover {
    color: @color-theme-warning;
    background: @theme-warning;
    border-color: darken(@theme-warning, 30%);
  }
}

.media {
  overflow: inherit;
}

.navbar-toggle {
  .border-radius(0);
}

.form-control,
.input-group-addon {
  .border-radius(0);
}

.dropdown-menu {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.panel {
  border: @dashboard-panel-border;
  .box-shadow(2px 2px 2px 0 rgba(0, 0, 0, 0.05));
  .border-radius(0);
  background: @main-background;

  .panel-heading {
    .border-radius(0);
    line-height: 2rem;
    vertical-align: middle;
    border-bottom: 1px solid #F2F2F2;
    background: @dashboard-panel-header-background;
  }

  .panel-body {
    padding: 10px;
    position: relative;
    background: @dashboard-panel-body-background;
  }

  &.panel-form {
    margin: 20px 0;
  }
}

.panel-cms .panel-heading {
  background: @main-toolbar-background;
  color: white;
}

.panel-heading {
  padding: 10px;
  .border-radius(0);
}

.panel-backend-content {
  background: rgba(220, 220, 220, 0.3);
  border-top: 1px solid #ddd;
  margin: 10px 0;

  &.panel-hidden {
    .panel-heading {
      background: @theme-warning;
    }
    .panel-body {
      opacity: 0.5;
    }
  }

  &.content-drag-sender > .panel-heading {
    cursor: move;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .group-paste {
    &.hide {
      display: none;
    }
  }
}

.breadcrumb-page-tree {
  font-size: 12px;
  padding: 5px 5px 5px 35px;
  margin-bottom: 3px;
  .border-radius(0);
}

.btn, .dropdown-menu {
  .border-radius(0);
  margin: 0;
}

.btn {
  .open {
    display: inline-block;
  }
  .closed {
    display: none;
  }
  &.toggled {
    .open {
      display: none;
    }
    .closed {
      display: inline-block;
    }
  }
}

.btn-backend,
.btn-backend.focus,
.btn-backend:focus,
.btn-backend:hover{
  background-color: @main-toolbar-background;
  color: white;
}

.btn-sm, .btn-group-sm > .btn {
  .border-radius(0);
}

.img-centered {
  margin: 0 auto;
}

.navbar-nav > li > a,
.navbar-brand {
  text-shadow: none;
}

.form-control {
  height: auto;
  &.no-label {
    margin: 4px 0;
  }
}

p.media-heading:after {
  content: ' ';
  clear: both;
  display: block;
}

/* dashboard */
.jumbotron {
  border-radius: 0;
  h1 {
    margin: 20px 0;
    font-size: 3rem;
  }
  .panel-body {
    p {
      font-size: 1em;
    }
  }
}

.panel-dashboard {
  .panel-heading {
    overflow: hidden;
    .border-radius(0);
    line-height: 2rem;
    vertical-align: middle;
    color: @main-color;
    background: @main-background;
  }

  .media {
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #E0E0E0;
  }
}

.list-element {
  padding: 5px;
  margin-bottom: 1px;
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

.dashboard-domains {
  .flag-icon {
    font-size: 2em;
  }
}

/* drag and drop */
.content-drag-receiver {
  height: 15px;
  padding: 0;
  font-size: 10px;
  margin: 0;
  background: transparent;
  line-height: 15px;

  &.receiver-on {
    color: white;
    border: 1px dotted #333;
    text-align: center;

    &.pep-dpa {
      background: green;
    }

    &:after {
      content: "drop here";
    }
  }

  &.loader:after {
    background: url(../../../Images/spin.svg) center center no-repeat;
    background-size: 15px 15px;
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
  }
}

.content-drag-sender {
  &.pep-active {
    position: absolute;
    z-index: 9999;
    width: 250px;
    border: 2px dashed black;

    .panel-body,
    .panel-heading .btn-group {
      display: none;
    }
  }
}

/* fontawesome */
.fa-disabled {
  color: #dcdcdc;
}

.fa-alerted {
  position: relative;
  &:after {
    position: absolute;
    .border-radius(6px);
    border: 2px solid @main-background;
    top: 0;
    right: 0;
    content: '';
    width: 12px;
    height: 12px;
    background: @theme-danger;
  }
}

/* flash messages */
.alert {
  .border-radius(0);
  &.alert-info {
    background: @theme-primary;
    border-color: @theme-primary;
    color: white;
  }
}

.flash-error {
  background: #b92c28;
  color: white;
}

.flash-success {
  background: seagreen;
  color: white;
}

.flash-warning {
  background: darkorange;
  color: #333;
}

.flash-info {
  background: dodgerblue;
  color: #231f20;
}

/* content editing/wizard */
.form-content {
  margin: 10px 0;
}

.form-control.rte {
  height: auto;
}

.ajax-text {
  display: inline-block;
}

.wysihtml-command-active,
.wysihtml-action-active,
.wysihtml-source-view {
  box-shadow: 0 0 4px gray inset;
  background: #dcdcdc;
}

.field-type-media .media {
  padding: 10px;
  border: @dashboard-panel-border;
  margin: 0 0 10px 0;
  background: white;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/** CSS actions loader **/
.progress-loader {
  display: none;
}

/** settings **/
#settings_sidebar {
  background: @main-toolbar-background;
  color: @main-toolbar-color;
  border-right: @dashboard-panel-border;

  .list-group {
    margin: 0;
    .border-radius(0);
    .box-shadow(none);
  }

  .list-group-item {
    text-shadow: none;
    .border-radius(0);
    background: none;
    border: none;
    color: @settings-color;
    border-left: 2px solid @menu-hover-color;
    &.collapsed {
      color: @settings-collapsed-color;
      border-left: none;
      .list-group-item-heading {
        color: @settings-collapsed-color;
      }
    }
    .list-group-item-heading {
      color: @settings-color;
    }
    &:focus,
    &:hover {
      color: @settings-hover-color;
      background: @settings-hover-background;
      .list-group-item-heading {
        color: @settings-hover-color;
      }
    }
    &.active {
      color: @settings-hover-color;
      background: @theme-success;
    }
  }

  #settings_menu {
    margin: 20px 0;
    .list-group {
      .list-group-item {
        padding-left: 30px;
      }
    }
  }
}

.settings-content {
  margin-top: 1em;
}

ul.list-readable {
  margin: 0;
  padding: 10px 10px 0 10px;
  list-style: none;

  li {
    margin: 0 0 10px 0;
  }
}

/** widget grid **/
.quick-panel {
  margin: 15px 0;
}

.panel-grid {
  .panel-body {
    margin: 0;
    padding: 0;
  }
}

.grid {
  .pagination {
    margin: 0;
  }

  .grid-panel {
    background: @main-background;
    padding: 10px 0;
    margin: 10px 0;
  }

  .grid-row {
    padding: 10px;
    margin: -1px 0 0 0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
  }

  .grid-even {
    background: @main-background;
  }

  .grid-paginator {
    margin: 10px 0;
  }
}

/** jstree overwrites **/
.jstree-default {
  a.jstree-clicked {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white !important;
      background: @theme-primary;
    }
  }

  a.jstree-hovered {
    color: white;
  }

  .jstree-wholerow-hovered {
    background: fade(@theme-primary, 80%);
  }

  .jstree-wholerow-clicked {
    background: @theme-primary;
  }

  a.jstree-search {
    color: @theme-danger;
    font-style: normal;
    font-weight: bold;
  }
}

/* file upload */
#media_files_upload_list {
  .upload-file {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    .media-body {
      padding: 10px 0;
    }
    .upload-preview {
      text-align: center;
    }
    .no-icon {
      width: 64px;
      height: 64px;
      display: block;
      background: #666666;
    }
  }
  .upload-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: fade(@main-toolbar-color, 30%);
  }
  .dropzone {
    margin-top: 20px;
    border: 1px dashed gray;
    padding: 20px;
  }
}