@media (min-width: 768px) {
  #main_toolbar {
    .dropdown-menu {
      & > li > a {
        white-space: nowrap;
      }
    }
  }

  #main_menu {
    .caret {
      float: none;
      margin-top: 0;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background: @main-toolbar-background;
  }
}