@main-color: #FFFFFF;
@main-background: #666666;
@main-font-family: "Libre Franklin", "Helvetica", "Arial", sans-serif;
@main-border-color: #333333;

@main-toolbar-background: #000000;
@main-toolbar-color: #FFFFFF;

@menu-color: #333333;
@menu-hover-color: #FFFFFF;
@menu-background: #FFFFFF;
@menu-hover-background: #999999;

@sidebar-background: #FFFFFF;

@settings-color: @main-color;
@settings-collapsed-color: #dcdcdc;
@settings-hover-color: #FFFFFF;
@settings-hover-background: #cccccc;

@dashboard-panel-border: 1px solid #E0E0E0;
@dashboard-panel-header-background: #F9F9F9;
@dashboard-panel-body-background: #FFFFFF;

@color-theme-default: @main-color;
@theme-default: #FFFFFF;
@color-theme-primary: @main-color;
@theme-primary: #045e85;
@color-theme-success: @main-color;
@theme-success: #70c1b3;
@color-theme-info: @main-color;
@theme-info: #b2dbbf;
@color-theme-danger: @main-color;
@theme-danger: #eb547c;
@color-theme-warning: @main-color;
@theme-warning: #f3ffbd;