/* fonts */
@font-face {
  font-family: 'Libre Franklin';
  src: url('../../../Fonts/librefranklin/LibreFranklin-Bold.eot');
  src: url('../../../Fonts/librefranklin/LibreFranklin-Bold.eot?#iefix') format('embedded-opentype'), url('../../../Fonts/librefranklin/LibreFranklin-Bold.woff2') format('woff2'), url('../../../Fonts/librefranklin/LibreFranklin-Bold.woff') format('woff'), url('../../../Fonts/librefranklin/LibreFranklin-Bold.ttf') format('truetype'), url('../../../Fonts/librefranklin/LibreFranklin-Bold.svg#LibreFranklin-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Libre Franklin';
  src: url('../../../Fonts/librefranklin/LibreFranklin-Regular.eot');
  src: url('../../../Fonts/librefranklin/LibreFranklin-Regular.eot?#iefix') format('embedded-opentype'), url('../../../Fonts/librefranklin/LibreFranklin-Regular.woff2') format('woff2'), url('../../../Fonts/librefranklin/LibreFranklin-Regular.woff') format('woff'), url('../../../Fonts/librefranklin/LibreFranklin-Regular.ttf') format('truetype'), url('../../../Fonts/librefranklin/LibreFranklin-Regular.svg#LibreFranklin-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* main */
body,
html {
  font-size: 14px;
  color: #ffffff;
  font-family: "Libre Franklin", "Helvetica", "Arial", sans-serif;
  background: #666666;
}
#main_toolbar {
  background: #000000;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  margin: 0;
}
#main_toolbar .fa-2x {
  font-size: 1.5em;
}
#main_toolbar .navbar-brand {
  padding: 15px;
  height: auto;
  color: #ffffff;
}
#main_toolbar .navbar-brand h1 {
  font-size: 1.4rem;
  margin: 0;
  line-height: 1em;
}
#main_toolbar .navbar-brand h1 small {
  font-size: 0.7rem;
  color: #ffffff;
  display: block;
  margin-top: 2px;
}
#main_toolbar .navbar-brand h1 img {
  margin-right: 6px;
}
#main_toolbar .navbar-nav > li > a {
  color: #ffffff;
  padding: 8px;
  border: 1px solid transparent;
}
#main_toolbar .navbar-nav > li > .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main_toolbar .navbar-nav > .open > a,
#main_toolbar .navbar-nav > .active > a {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 980;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: none;
}
#main_toolbar .dropdown-menu {
  margin-top: -2px;
}
#main_toolbar .dropdown-menu .divider {
  margin: 5px 0;
}
#main_toolbar .dropdown-menu > li > a {
  padding: 10px 20px;
  white-space: normal;
}
#main_toolbar .nav > li > a:focus,
#main_toolbar .nav > li > a:hover {
  color: #999999;
}
#main_toolbar .navbar-collapse {
  padding-top: 1rem;
}
#main_toolbar .media {
  margin: 0;
}
#main_menu {
  z-index: 20;
  margin-bottom: 0;
  min-height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background: #ffffff;
  color: #333333;
  -webkit-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
}
#main_menu .navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
}
#main_menu .navbar-nav > li.open > a {
  background: #999999;
  color: #ffffff;
}
#main_menu .caret {
  float: right;
  margin-top: 4px;
}
#container {
  padding-top: 15px;
}
#search_form {
  margin: 0;
}
#search_form .form-control {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search_form .btn-default {
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
}
#search_form .tokens-container {
  width: 200px;
}
#sidebar_toolbar {
  padding: 10px 0;
  border-bottom: 1px solid #dcdcdc;
}
#sidebar_toolbar .btn-backend {
  padding: 4px 26px 4px 6px;
}
.simple-margins.bottom {
  margin-bottom: 5px;
}
#sidebar_tree {
  background: #ffffff;
  border-right: 1px solid #dcdcdc;
}
#sidebar_tree .tree {
  border: none;
  padding: 0;
}
#sidebar_tree #toggle_touch {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
#cms_tree {
  overflow-y: auto;
  padding: 10px 0;
}
.touch-friendly {
  margin-right: 50px;
}
#sidebar .list-group {
  font-size: 1.2em;
}
.tree-filter {
  padding-top: 10px;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
  background: #666666;
}
.entire-area {
  width: 100%;
}
#content_wrapper #toggle_sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
#content_wrapper #content {
  padding-top: 15px;
}
li a.helper-icon {
  float: left;
}
.page-panel {
  margin-top: 10px;
  background: #f3ffbd;
  border: 1px solid #deeaa8;
}
.page-panel > .panel-heading {
  background: #deeaa8;
}
.scroll-overlap {
  height: 50px;
  position: fixed;
  left: 0;
  width: 100%;
  background: rgba(200, 200, 200, 0.6);
  display: none;
  z-index: 9000;
}
.scroll-overlap.top {
  top: 0;
}
.scroll-overlap.bottom {
  bottom: 0;
}
.panel-media {
  margin-top: 20px;
}
.panel-media .list-group {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel-media .list-group .list-group-item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel-media h2.title {
  margin: 0 20px 0 0;
}
.panel-media .thumbnail {
  text-align: center;
  position: relative;
  background: #f5f5f5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 9px;
  min-height: 150px;
  overflow: hidden;
  border: 0;
  box-shadow: none;
}
.panel-media .thumbnail.filetype-JPG,
.panel-media .thumbnail.filetype-GIF,
.panel-media .thumbnail.filetype-PNG {
  padding: 0;
}
.panel-media .thumbnail.active .caption {
  background: rgba(112, 193, 179, 0.8);
}
.panel-media .thumbnail.active .extension {
  background: rgba(112, 193, 179, 0.5);
}
.panel-media .thumbnail > img,
.panel-media .thumbnail a > img {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.panel-media .thumbnail .caption {
  padding: 2%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: rgba(17, 17, 17, 0.8);
  color: white;
}
.panel-media .thumbnail p {
  margin: 0;
}
.panel-media .thumbnail .extension {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(17, 17, 17, 0.5);
  padding: 5px;
  color: white;
  z-index: 2;
}
.stick-to-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}
.folders-list {
  margin-top: 10px;
}
.folders-list .list-group-item {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.content-type-reference {
  opacity: 0.9;
  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.5) 35px, rgba(255, 255, 255, 0.5) 70px);
  padding: 5px 10px;
}
.reference-title {
  padding: 0 3px;
  color: white;
  background: black;
}
.login-columns {
  padding: 10px;
  box-shadow: 0 0 10px black;
  background: white;
}
.login-page {
  background: #000000;
}
.content-type-repeater .panel-heading .sort-handler {
  cursor: move;
}
.content-type-repeater h4.panel-title {
  padding: 5px 0;
}
.content-type-repeater .panel-default.sortable-ghost {
  opacity: 0.8;
}
.content-type-repeater .panel-default.sortable-chosen .panel-heading {
  background-color: #ffffff;
  color: #333333;
}
/* create new element wizard */
.tab-elements .media-object {
  float: left;
  margin-right: 10px;
  border: 1px solid #111111;
}
.tab-elements a {
  color: inherit;
  overflow: hidden;
}
.tab-elements p {
  font-size: 12px;
  line-height: 1.2em;
  margin-bottom: 5px;
}
.tab-elements p.title {
  font-weight: bold;
  font-size: 14px;
}
/* overwrite general styles */
.btn-default {
  color: #ffffff;
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background: -o-linear-gradient(top, #ffffff, #e6e6e6);
  border-color: #cccccc;
}
.btn-default:hover {
  background: #ffffff;
  border-color: #b3b3b3;
}
.btn-default:active {
  border-color: #b3b3b3;
}
.btn-default:active .open > .dropdown-toggle.btn-default {
  border-color: #b3b3b3;
}
.btn-danger {
  color: #ffffff;
  border-color: #c21744;
  background-color: #ee6b8d;
  background: -webkit-gradient(linear, left top, left bottom, from(#ee6b8d), to(#e62659));
  background: -webkit-linear-gradient(top, #ee6b8d, #e62659);
  background: -moz-linear-gradient(top, #ee6b8d, #e62659);
  background: -ms-linear-gradient(top, #ee6b8d, #e62659);
  background: -o-linear-gradient(top, #ee6b8d, #e62659);
}
.btn-danger:hover {
  background: #eb547c;
}
.btn-success {
  color: #ffffff;
  border-color: #3d8e80;
  background-color: #82c9bc;
  background: -webkit-gradient(linear, left top, left bottom, from(#82c9bc), to(#4db1a0));
  background: -webkit-linear-gradient(top, #82c9bc, #4db1a0);
  background: -moz-linear-gradient(top, #82c9bc, #4db1a0);
  background: -ms-linear-gradient(top, #82c9bc, #4db1a0);
  background: -o-linear-gradient(top, #82c9bc, #4db1a0);
}
.btn-success:hover {
  background: #70c1b3;
}
.btn-primary {
  color: #ffffff;
  border-color: #033b53;
  background-color: #056f9e;
  background: -webkit-gradient(linear, left top, left bottom, from(#056f9e), to(#033b53));
  background: -webkit-linear-gradient(top, #056f9e, #033b53);
  background: -moz-linear-gradient(top, #056f9e, #033b53);
  background: -ms-linear-gradient(top, #056f9e, #033b53);
  background: -o-linear-gradient(top, #056f9e, #033b53);
}
.btn-primary:hover {
  background: #045e85;
}
.btn-warning {
  color: #ffffff;
  border-color: #e0ff57;
  background-color: #f8ffd7;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8ffd7), to(#eaff8a));
  background: -webkit-linear-gradient(top, #f8ffd7, #eaff8a);
  background: -moz-linear-gradient(top, #f8ffd7, #eaff8a);
  background: -ms-linear-gradient(top, #f8ffd7, #eaff8a);
  background: -o-linear-gradient(top, #f8ffd7, #eaff8a);
}
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover {
  color: #ffffff;
  background: #f3ffbd;
  border-color: #d7ff24;
}
.media {
  overflow: inherit;
}
.navbar-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.form-control,
.input-group-addon {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown-menu {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.panel {
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #666666;
}
.panel .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 2rem;
  vertical-align: middle;
  border-bottom: 1px solid #F2F2F2;
  background: #f9f9f9;
}
.panel .panel-body {
  padding: 10px;
  position: relative;
  background: #ffffff;
}
.panel.panel-form {
  margin: 20px 0;
}
.panel-cms .panel-heading {
  background: #000000;
  color: white;
}
.panel-heading {
  padding: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.panel-backend-content {
  background: rgba(220, 220, 220, 0.3);
  border-top: 1px solid #ddd;
  margin: 10px 0;
}
.panel-backend-content.panel-hidden .panel-heading {
  background: #f3ffbd;
}
.panel-backend-content.panel-hidden .panel-body {
  opacity: 0.5;
}
.panel-backend-content.content-drag-sender > .panel-heading {
  cursor: move;
}
.panel-backend-content.content-drag-sender > .panel-heading:after {
  content: '';
  display: block;
  clear: both;
}
.panel-backend-content .group-paste.hide {
  display: none;
}
.breadcrumb-page-tree {
  font-size: 12px;
  padding: 5px 5px 5px 35px;
  margin-bottom: 3px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn,
.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
}
.btn .open {
  display: inline-block;
}
.btn .closed {
  display: none;
}
.btn.toggled .open {
  display: none;
}
.btn.toggled .closed {
  display: inline-block;
}
.btn-backend,
.btn-backend.focus,
.btn-backend:focus,
.btn-backend:hover {
  background-color: #000000;
  color: white;
}
.btn-sm,
.btn-group-sm > .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.img-centered {
  margin: 0 auto;
}
.navbar-nav > li > a,
.navbar-brand {
  text-shadow: none;
}
.form-control {
  height: auto;
}
.form-control.no-label {
  margin: 4px 0;
}
p.media-heading:after {
  content: ' ';
  clear: both;
  display: block;
}
/* dashboard */
.jumbotron {
  border-radius: 0;
}
.jumbotron h1 {
  margin: 20px 0;
  font-size: 3rem;
}
.jumbotron .panel-body p {
  font-size: 1em;
}
.panel-dashboard .panel-heading {
  overflow: hidden;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 2rem;
  vertical-align: middle;
  color: #ffffff;
  background: #666666;
}
.panel-dashboard .media {
  padding: 10px 0;
  margin: 0;
  border-top: 1px solid #E0E0E0;
}
.list-element {
  padding: 5px;
  margin-bottom: 1px;
}
.list-element:after {
  content: '';
  clear: both;
  display: block;
}
.dashboard-domains .flag-icon {
  font-size: 2em;
}
/* drag and drop */
.content-drag-receiver {
  height: 15px;
  padding: 0;
  font-size: 10px;
  margin: 0;
  background: transparent;
  line-height: 15px;
}
.content-drag-receiver.receiver-on {
  color: white;
  border: 1px dotted #333;
  text-align: center;
}
.content-drag-receiver.receiver-on.pep-dpa {
  background: green;
}
.content-drag-receiver.receiver-on:after {
  content: "drop here";
}
.content-drag-receiver.loader:after {
  background: url(../../../Images/spin.svg) center center no-repeat;
  background-size: 15px 15px;
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
}
.content-drag-sender.pep-active {
  position: absolute;
  z-index: 9999;
  width: 250px;
  border: 2px dashed black;
}
.content-drag-sender.pep-active .panel-body,
.content-drag-sender.pep-active .panel-heading .btn-group {
  display: none;
}
/* fontawesome */
.fa-disabled {
  color: #dcdcdc;
}
.fa-alerted {
  position: relative;
}
.fa-alerted:after {
  position: absolute;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #666666;
  top: 0;
  right: 0;
  content: '';
  width: 12px;
  height: 12px;
  background: #eb547c;
}
/* flash messages */
.alert {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.alert.alert-info {
  background: #045e85;
  border-color: #045e85;
  color: white;
}
.flash-error {
  background: #b92c28;
  color: white;
}
.flash-success {
  background: seagreen;
  color: white;
}
.flash-warning {
  background: darkorange;
  color: #333;
}
.flash-info {
  background: dodgerblue;
  color: #231f20;
}
/* content editing/wizard */
.form-content {
  margin: 10px 0;
}
.form-control.rte {
  height: auto;
}
.ajax-text {
  display: inline-block;
}
.wysihtml-command-active,
.wysihtml-action-active,
.wysihtml-source-view {
  box-shadow: 0 0 4px gray inset;
  background: #dcdcdc;
}
.field-type-media .media {
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin: 0 0 10px 0;
  background: white;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
/** CSS actions loader **/
.progress-loader {
  display: none;
}
/** settings **/
#settings_sidebar {
  background: #000000;
  color: #ffffff;
  border-right: 1px solid #e0e0e0;
}
#settings_sidebar .list-group {
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#settings_sidebar .list-group-item {
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
  border: none;
  color: #ffffff;
  border-left: 2px solid #ffffff;
}
#settings_sidebar .list-group-item.collapsed {
  color: #dcdcdc;
  border-left: none;
}
#settings_sidebar .list-group-item.collapsed .list-group-item-heading {
  color: #dcdcdc;
}
#settings_sidebar .list-group-item .list-group-item-heading {
  color: #ffffff;
}
#settings_sidebar .list-group-item:focus,
#settings_sidebar .list-group-item:hover {
  color: #ffffff;
  background: #cccccc;
}
#settings_sidebar .list-group-item:focus .list-group-item-heading,
#settings_sidebar .list-group-item:hover .list-group-item-heading {
  color: #ffffff;
}
#settings_sidebar .list-group-item.active {
  color: #ffffff;
  background: #70c1b3;
}
#settings_sidebar #settings_menu {
  margin: 20px 0;
}
#settings_sidebar #settings_menu .list-group .list-group-item {
  padding-left: 30px;
}
.settings-content {
  margin-top: 1em;
}
ul.list-readable {
  margin: 0;
  padding: 10px 10px 0 10px;
  list-style: none;
}
ul.list-readable li {
  margin: 0 0 10px 0;
}
/** widget grid **/
.quick-panel {
  margin: 15px 0;
}
.panel-grid .panel-body {
  margin: 0;
  padding: 0;
}
.grid .pagination {
  margin: 0;
}
.grid .grid-panel {
  background: #666666;
  padding: 10px 0;
  margin: 10px 0;
}
.grid .grid-row {
  padding: 10px;
  margin: -1px 0 0 0;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}
.grid .grid-even {
  background: #666666;
}
.grid .grid-paginator {
  margin: 10px 0;
}
/** jstree overwrites **/
.jstree-default a.jstree-clicked:link,
.jstree-default a.jstree-clicked:visited,
.jstree-default a.jstree-clicked:hover,
.jstree-default a.jstree-clicked:active {
  color: white !important;
  background: #045e85;
}
.jstree-default a.jstree-hovered {
  color: white;
}
.jstree-default .jstree-wholerow-hovered {
  background: rgba(4, 94, 133, 0.8);
}
.jstree-default .jstree-wholerow-clicked {
  background: #045e85;
}
.jstree-default a.jstree-search {
  color: #eb547c;
  font-style: normal;
  font-weight: bold;
}
/* file upload */
#media_files_upload_list .upload-file {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}
#media_files_upload_list .upload-file .media-body {
  padding: 10px 0;
}
#media_files_upload_list .upload-file .upload-preview {
  text-align: center;
}
#media_files_upload_list .upload-file .no-icon {
  width: 64px;
  height: 64px;
  display: block;
  background: #666666;
}
#media_files_upload_list .upload-progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
}
#media_files_upload_list .dropzone {
  margin-top: 20px;
  border: 1px dashed gray;
  padding: 20px;
}
@media (min-width: 768px) {
  .large-dialog .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .media-dialog .modal-lg {
    width: 1100px;
  }
}
@media (min-width: 768px) {
  #main_toolbar .dropdown-menu > li > a {
    white-space: nowrap;
  }
  #main_menu .caret {
    float: none;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    background: #000000;
  }
}
