div.phpdebugbar {
    background: white;
}

div.phpdebugbar .phpdebugbar-datasets-switcher {
    padding: 5px;
}

div.phpdebugbar-header {
    line-height: 1em;
    min-height: auto;
}

div.phpdebugbar-header,
a.phpdebugbar-restore-btn {
    background: white;
}

div.phpdebugbar-header > div > * {
    color: black;
    padding: 8px;
}

a.phpdebugbar-tab.phpdebugbar-active {
    background: #247ba0;
    color: white;
}

div.phpdebugbar-resize-handle {
    border-bottom: 3px solid #247ba0;
}

a.phpdebugbar-close-btn,
a.phpdebugbar-open-btn,
a.phpdebugbar-restore-btn,
a.phpdebugbar-minimize-btn,
a.phpdebugbar-maximize-btn {
    width: 14px;
    height: 14px;
}

div.phpdebugbar-body {
    border-top: 3px solid #247ba0;
}

/** timeline widget **/
ul.phpdebugbar-widgets-timeline .phpdebugbar-widgets-measure {
    height: 25px;
}

ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-value {
    top: 6px;
    height: 12px;
    border-radius: 0;
}

ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-label,
ul.phpdebugbar-widgets-timeline li span.phpdebugbar-widgets-collector {
    font-size: inherit;
    color: inherit;
}

div.phpdebugbar-widgets-sqlqueries span::before {
    font-family: "FontAwesome" !important;
}