/* HDV icon font */
@font-face {
    font-family: 'hdv';
    src: url('../../Fonts/hdv.eot');
    src: url('../../Fonts/hdv.eot?#iefix') format('embedded-opentype'), url('../../Fonts/hdv.woff') format('woff'), url('../../Fonts/hdv.ttf') format('truetype'), url('../../Fonts/hdv.svg#hdv') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='hdvicon-'] {
    display: inline-block;
    font: normal normal normal 16px/1 'hdv';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
[class*='hdvicon-']:before {
    box-sizing: border-box;
}
.hdvicon-account:before {
    content: '\E041';
}
.hdvicon-search:before {
    content: '\E042';
}
.hdvicon-arrow-left:before {
    content: '\E043';
}
.hdvicon-arrow-right:before {
    content: '\E044';
}
.hdvicon-arrow2-left:before {
    content: '\E045';
}
.hdvicon-arrow2-right:before {
    content: '\E046';
}
.hdvicon-gps:before {
    content: '\E047';
}
.hdvicon-pin:before {
    content: '\E048';
}
.hdvicon-phone:before {
    content: '\E049';
}
.hdvicon-plus:before {
    content: '\E04a';
}
.hdvicon-hospital:before {
    content: '\E04b';
}
.hdvicon-personel:before {
    content: '\E04c';
}
.hdvicon-bed:before {
    content: '\E04d';
}
.hdvicon-graph:before {
    content: '\E04e';
}
.hdvicon-calculator:before {
    content: '\E04f';
}
.hdvicon-heart:before {
    content: '\E050';
}
.hdvicon-steto:before {
    content: '\E051';
}
.hdvicon-twitter:before {
    content: '\E052';
}
.hdvicon-facebook:before {
    content: '\E053';
}
.hdvicon-linkedin:before {
    content: '\E054';
}
.hdvicon-vimeo:before {
    content: '\E055';
}
.hdvicon-ambulance:before {
    content: '\E056';
}
.hdvicon-steto2:before {
    content: '\E057';
}
.hdvicon-pin2:before {
    content: '\E058';
}
.hdvicon-share:before {
    content: '\E059';
}
.hdvicon-line:before {
    content: '\E05a';
}
.hdvicon-cross:before {
    content: '\E061';
}
.hdvicon-arrow2-up:before {
    content: '\E062';
}
.hdvicon-link:before {
    content: '\E063';
}
.hdvicon-pencil:before {
    content: '\E064';
}
.hdvicon-file-pdf:before {
    content: '\E065';
}
.hdvicon-car:before {
    content: '\E066';
}
.hdvicon-bus:before {
    content: '\E067';
}
.hdvicon-bicycle:before {
    content: '\E068';
}
.hdvicon-hat:before {
    content: '\E069';
}
.hdvicon-download:before {
    content: '\E06a';
}
.hdvicon-fullscreen:before {
    content: '\E06b';
}
.hdvicon-fax:before {
    content: '\E06c';
}
.hdvicon-sort-desc:before {
    content: '\E06d';
}
.hdvicon-sort-asc:before {
    content: '\E06e';
}
.hdvicon-clock:before {
    content: '\E06f';
}
.hdvicon-user:before {
    content: '\E070';
}
.hdvicon-timer:before {
    content: '\E071';
}
.hdvicon-lock:before {
    content: '\E072';
}
.hdvicon-external:before {
    content: '\E073';
}
.hdvicon-file-general:before {
    content: '\E074';
}